<div class="ui-select-match" ng-hide="$select.open && $select.searchEnabled" ng-disabled="$select.disabled" ng-class="{'btn-default-focus':$select.focus}">
  <span tabindex="-1"
      class="btn btn-default btn-sm form-control ui-select-toggle"
      aria-label="{{ $select.baseTitle }} activate"
      ng-disabled="$select.disabled" 
      ng-click="$select.activate()"
      style="outline: 0;">
    <span ng-show="$select.isEmpty()" class="ui-select-placeholder text-muted">{{$select.placeholder}}</span>
    <span ng-hide="$select.isEmpty()" class="ui-select-match-text pull-left" ng-class="{'ui-select-allow-clear': $select.allowClear && !$select.isEmpty()}" ng-transclude=""></span>
    <i class="caret pull-right" ng-click="$select.toggle($event)"></i>
    <a ng-show="$select.allowClear && !$select.isEmpty() && ($select.disabled !== true)" aria-label="{{ $select.baseTitle }} clear" style="margin-right: 10px" 
      ng-click="$select.clear($event)" class="btn btn-xs btn-link pull-right">
      <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
    </a>
  </span>
</div>
