<div class="ui-select-container ui-select-bootstrap dropdown" ng-class="{open: $select.open}">
  <div class="ui-select-match"></div>
  <input autocomplete="off" tabindex="-1"
         aria-expanded="true"
         aria-label="{{ $select.baseTitle }}"
         aria-owns="ui-select-choices-{{ $select.generatedId }}"
         aria-activedescendant="ui-select-choices-row-{{ $select.generatedId }}-{{ $select.activeIndex }}"
         class="form-control input-sm ui-select-search"
         ng-class="{ 'ui-select-search-hidden' : !$select.searchEnabled }"
         placeholder="{{$select.placeholder}}"
         ng-model="$select.search"
         ng-show="$select.open">
  <div class="ui-select-choices"></div>
  <div class="ui-select-no-choice"></div>
</div>
